/***
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT:400,700");

/****** 
Other Stylesheets
*/
@import "./header";
@import "./variables";
@import "./footer";

/***** 
MIXINS 
*/
@mixin even_justify($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

/****************
Documents
*/

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Old Standard tt";
  box-sizing: border-box;
  background-color: map-get($colors, primary);
  height: 100%;
  width: 100%;
  font-size: 12px;

  @include for-tablet-landscape-up {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/*****
SECTIONS
*/

main {
  background-color: map-get($colors, secondary);
  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-auto-rows: 100vh;
    align-items: center;
  }
  .landing {
    img {
      max-width: 100%;
      position: relative;
      bottom: 10px;
    }

    .cta {
      position: absolute;
      bottom: 30%;
      transform: translateY(-30);
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 50px;

      @include for-tablet-landscape-up {
        visibility: hidden;
      }

      p {
        color: white;
        text-transform: uppercase;
        font-family: "lato";
        font-weight: 700;
        letter-spacing: 4px;
      }
    }
  }
  /*************
Title mobile
**/

  .content {
    background-color: map-get($colors, "secondary");
    padding: 2rem;
    @include for-tablet-landscape-up {
      padding: 4rem;
    }
    .statement {
      text-align: left;
      height: 100%;

      .date {
        font-family: "Lato";
        color: #d9d9d9;
        text-align: left;
        padding: 0;
        position: relative;
      }
      .title {
        position: absolute;
        top: 8%;

        @include for-tablet-landscape-up {
          position: relative;
        }
        h1 {
          font-weight: 400;
          color: map-get($colors, "accent_3");
          font-size: 3rem;
          text-align: left;

          @include for-big-desktop-up {
            font-size: 6rem;
          }
          span {
            font-size: 16px;
            display: block;
            color: map-get($colors, accent_2);
            font-weight: 400;
            text-align: left;
          }
        }
      }
      p {
        font-family: "lato";
        color: #3b3b3b;
        font-size: 12px;
        line-height: 200%;
        width: 100%;
        padding-bottom: 10px;

        @include for-tablet-landscape-up {
          font-size: 18px;
        }

        @include for-big-desktop-up {
          font-size: 24px;
        }
      }

      .button_container {
        @include for-desktop-up {
          padding-top: 2rem;
        }
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;

        transition: 0.2s ease-in-out;
        width: 100%;
        @include for-tablet-landscape-up {
          width: 30%;
        }
        .button {
          background-color: map-get($colors, accent);
          transition: background 0.4s ease-in;
          transition: box-shadow 0.4s linear;

          margin: 0.2em; /* Increased margin since the box-shado expands outside the element, like outline */
          padding: 15px 10px 15px 10px;
          text-align: center;
          width: 40%;

          &:hover {
            box-shadow: 0 0 8px rgba(33, 33, 33, 0.2);
            background-color: rgb(126, 166, 189);
          }

          @include for-tablet-landscape-up {
            width: 100%;
            padding: 10px 30px 10px 30px;
          }

          a {
            font-size: 12px;
            text-decoration: none;
            color: map-get($colors, primary);
            font-weight: 700;
            transition: color 0.4s ease-in-out;
            &:hover {
              color: #3b3b3b;
            }
            @include for-desktop-up {
              font-size: 16px;
            }

            @include for-big-desktop-up {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
