/***
FONTS 
*/
@import url('https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT:400,700');

/****** 
Other Stylesheets
*/
@import './header';
@import './variables';


/***** 
MIXINS 
*/
@mixin even_justify( $justify) {
    display: flex;
        justify-content: $justify;
        align-items: center;
       
}





/****************
Documents
*/
  
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Old Standard tt'; 
    box-sizing: border-box;
   background-color: map-get($colors, primary);
    height: 100%;
    width: 100%;
    font-size: 12px;
}


/*****
SECTIONS
*/

main{
  

/*************
Title mobile
**/


.content{

background-color: map-get($colors, "secondary"); 
padding: 3rem;  
height: 100%;

    .statement{
        text-align: left;
        padding-bottom: 3rem;
        .date{
            font-family: 'Lato';
            color: #d9d9d9;
            text-align: left;
            padding: 0;
        }
     
        p{
        
            color: map-get($colors, primary);
            font-size: 16px;
            line-height: 160%;
            width: 100%;
            padding-bottom: 20px;
        }
       
        .button_container{
         position: relative;
         
         .button{
             border: 1px solid map-get($colors, 'accent_2');
             padding: 10px 2px 10px 2px;
             margin-left: auto;
             margin-right: auto;
             width: 40%;
             display: flex;
             justify-content: center;
             align-items: center;
             
             a{
                 font-size: 12px;
                 text-decoration: none;
                 color: map-get($colors, 'accent_2');
                 font-weight: 700;
                 text-align: center;
                 
             }
         }
      .lines{
      
     
      .before, .after{
     
         background-color: map-get($colors, 'accent_3');
         height: 2px;
         
         
      }
     .before{
         width: 10%;
         left: 15%;
         position: absolute;
         top: 50%;
         z-index: 1;
         transform: translateY(-50);  
     }
     
     .after{
     width: 10%;
         position: absolute;
         top: 50%;
         z-index: 1;
         right: 15%;
         transform: translateY(-50);  
     
     }
     
     
     
     
        }
        
     
     
     }
     
     
     
     }



}






}

footer{
padding: 2rem 0 1rem 0;
      
       

      
       
        .tagline{
            color: map-get($colors, secondary);
           
           @include even_justify(center);
         height: 25px;
           align-items: flex-start;
           
        }
        .icon-container{
            @include even_justify(center);
            width: 100%;
            font-size: 36px;
            align-items: flex-end;
            
            
            
            i{
                color: map-get($colors, accent);
                padding: 0 20px 0 20px;
        
            }
        }
    
        .text{
            text-align: center;
         justify-content: space-between;
            
            display: flex;
            padding: 0 15px 0 15px;
            align-items: flex-end;
           
            
         
            p{
                text-align: center;
                color: #c9c9c9;
                font-weight: 400;
                
                
            }
    
           
           
        }
      
        
       
    }

