/***
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT:400,700");
/****** 
Other Stylesheets
*/
/***
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT:400,700");
/*** 
VAR
*/
body header {
  z-index: 1;
}

@media (min-width: 900px) {
  body header {
    display: block;
    height: 50px;
    padding: 1rem;
    width: 100%;
    left: 0;
    position: static;
    top: 0;
  }
}

body nav {
  position: fixed;
  z-index: 4;
}

@media (min-width: 900px) {
  body nav {
    position: relative;
    bottom: 20px;
  }
}

body nav a {
  text-decoration: none;
  color: #022840;
  -webkit-transition: color .3 ease;
  transition: color .3 ease;
}

body nav a:hover {
  color: #8C4227;
}

body nav .menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 40px;
  z-index: 1;
}

body nav .menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
}

body nav .menuToggle span {
  display: block;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  width: 33px;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body nav .menuToggle .two {
  width: 24px;
}

body nav .menuToggle .three {
  width: 14px;
}

body nav .menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body nav .menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body nav .menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-4px, -1px);
          transform: rotate(45deg) translate(-4px, -1px);
  background: #292929;
}

body nav .menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body nav .menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
  width: 33px;
}

body nav .menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

body nav .menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #84A9BF;
  list-style-type: none;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body nav .menu li {
  padding: 10px 0;
  font-family: 'lato';
  font-size: 1.8rem;
}

@media (min-width: 900px) {
  body nav .menu {
    margin: -100px 0 0 -60px;
  }
}

body .logo {
  display: block;
  position: absolute;
  top: 7px;
  right: 40px;
  z-index: 1;
  color: white;
  font-size: 12px;
}

body .logo h1 {
  font-weight: 400;
}

/***** 
MIXINS 
*/
/****************
Documents
*/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Old Standard tt';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #292929;
  height: 100%;
  width: 100%;
  font-size: 12px;
}

@media (min-width: 900px) {
  html, body {
    overflow-x: hidden;
  }
}

/*****
SECTIONS
*/
main {
  /*************
Title mobile
**/
}

@media (min-width: 1200px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .7fr 1fr;
        grid-template-columns: .7fr 1fr;
    grid-auto-rows: 90vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  main .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .landing img {
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 1200px) {
  main .landing img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

main .landing .cta {
  position: absolute;
  bottom: 30%;
  -webkit-transform: translateY(-30);
          transform: translateY(-30);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

@media (min-width: 1200px) {
  main .landing .cta {
    visibility: hidden;
  }
}

main .landing .cta p {
  color: white;
  text-transform: uppercase;
  font-family: 'lato';
  font-weight: 700;
  letter-spacing: 4px;
}

main .content {
  background-color: #CCB08D;
  padding: 3rem;
  height: 100%;
}

@media (min-width: 1200px) {
  main .content {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5rem;
  }
}

main .content .statement {
  text-align: left;
}

@media (min-width: 1200px) {
  main .content .statement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

main .content .statement .date {
  font-family: 'Lato';
  color: #d9d9d9;
  text-align: left;
  padding: 0;
}

main .content .statement .title {
  position: absolute;
  top: 8%;
}

@media (min-width: 1200px) {
  main .content .statement .title {
    position: relative;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

main .content .statement .title h1 {
  font-weight: 400;
  color: #8C4227;
  font-size: 4rem;
  text-align: left;
}

@media (min-width: 1200px) {
  main .content .statement .title h1 {
    font-size: 6rem;
  }
}

main .content .statement .title p {
  position: relative;
  bottom: 35px;
  font-weight: 400;
  text-align: left;
}

@media (min-width: 1200px) {
  main .content .statement .title p {
    bottom: 100px;
  }
}

main .content .statement p {
  color: #292929;
  font-size: 16px;
  line-height: 160%;
  width: 100%;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  main .content .statement p {
    line-height: 200%;
    font-size: 18px;
  }
}

main .content .statement .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  main .content .statement .button_container {
    padding-top: 2rem;
  }
}

main .content .statement .button_container .button {
  border: 1px solid #022840;
  padding: 15px 10px 15px 10px;
  text-align: center;
  width: 40%;
}

@media (min-width: 1200px) {
  main .content .statement .button_container .button {
    width: 100%;
    padding: 10px 20px 10px 20px;
  }
}

main .content .statement .button_container .button a {
  font-size: 12px;
  text-decoration: none;
  color: #022840;
  font-weight: 700;
}

main .content .statement .button_container .lines {
  visibility: hidden;
}

main .content .statement .button_container .lines .before, main .content .statement .button_container .lines .after {
  background-color: #8C4227;
  height: 2px;
}

main .content .statement .button_container .lines .before {
  width: 10%;
  left: 15%;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50);
          transform: translateY(-50);
}

main .content .statement .button_container .lines .after {
  width: 10%;
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 15%;
  -webkit-transform: translateY(-50);
          transform: translateY(-50);
}

main .content .statement .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 36px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1200px) {
  main .content .statement .icon-container {
    font-size: 48px;
  }
}

main .content .statement .icon-container i {
  color: #8C4227;
  padding: 50px 30px 0 50px;
}

footer {
  padding: 2rem 0 1rem 0;
}

@media (min-width: 900px) {
  footer {
    padding: 0;
    background-color: #292929;
  }
}

footer .text {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 0 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 900px) {
  footer .text {
    padding: 2rem;
  }
}

footer .text p {
  text-align: center;
  color: #c9c9c9;
  font-weight: 400;
}

footer .text .tagline {
  color: #CCB08D;
  visibility: hidden;
  text-align: center;
}

@media (min-width: 900px) {
  footer .text .tagline {
    visibility: visible;
  }
}
/*# sourceMappingURL=main.css.map */