/***
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT:400,700");
/****** 
Other Stylesheets
*/
/***
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT:400,700");
/*** 
VAR
*/
body header {
  z-index: 1;
}

@media (min-width: 900px) {
  body header {
    display: block;
    height: 40px;
    padding: 1rem;
    width: 100%;
    left: 0;
    background-color: #292929;
    top: 0;
    position: fixed;
  }
}

body nav {
  position: fixed;
  z-index: 4;
}

@media (min-width: 900px) {
  body nav {
    position: relative;
    bottom: 20px;
  }
}

body nav a {
  text-decoration: none;
  color: #022840;
  -webkit-transition: color 0.3 ease;
  transition: color 0.3 ease;
}

body nav a:hover {
  color: #8C4227;
}

body nav .menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 40px;
  z-index: 1;
}

body nav .menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
}

body nav .menuToggle span {
  display: block;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  width: 33px;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body nav .menuToggle .two {
  width: 24px;
}

body nav .menuToggle .three {
  height: 2px;
  width: 14px;
}

body nav .menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body nav .menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body nav .menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-4px, -1px);
          transform: rotate(45deg) translate(-4px, -1px);
  background: #292929;
}

body nav .menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body nav .menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
  width: 33px;
}

body nav .menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

body nav .menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #84A9BF;
  list-style-type: none;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body nav .menu li {
  padding: 10px 0;
  font-family: "lato";
  font-size: 1.8rem;
}

@media (min-width: 900px) {
  body nav .menu {
    margin: -100px 0 0 -60px;
  }
}

body .logo {
  display: block;
  position: absolute;
  top: 7px;
  right: 40px;
  z-index: 1;
  color: white;
  font-size: 12px;
}

body .logo h1 {
  font-weight: 400;
}

body .desktop-menu {
  display: none;
  cursor: pointer;
}

@media (min-width: 900px) {
  body .desktop-menu {
    font-family: "lato";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10px;
    left: 40%;
    -webkit-transform: translateX(-40);
            transform: translateX(-40);
  }
}

body .desktop-menu a {
  font-size: 18px;
}

@media (min-width: 900px) {
  body .desktop-menu a {
    display: inline-block;
    text-decoration: none;
    color: #CCB08D;
    padding: 0 25px;
  }
}

@media (min-width: 900px) {
  body .desktop-menu a li {
    list-style: none;
    display: inline-block;
  }
}

body .desktop-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

body .desktop-menu a:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

body footer {
  background-color: #292929;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

@media (min-width: 900px) {
  body footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 900px) {
  body footer .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body footer .icon-container a {
  color: #84A9BF;
  font-size: 24px;
  text-decoration: none;
  -webkit-transition: 0.3s color ease-in;
  transition: 0.3s color ease-in;
}

body footer .icon-container a:hover {
  color: white;
}

body footer .icon-container a i {
  padding-right: 10px;
}

@media (min-width: 1200px) {
  body footer .icon-container a i {
    font-size: 36px;
  }
}

body footer .text {
  padding-top: 15px;
  color: #CCB08D;
}

@media (min-width: 900px) {
  body footer .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body footer .text p {
  padding-right: 25px;
  padding-left: 15px;
}

/***** 
MIXINS 
*/
/****************
Documents
*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Old Standard tt";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #292929;
  height: 100%;
  width: 100%;
  font-size: 12px;
}

@media (min-width: 900px) {
  html,
  body {
    overflow-x: hidden;
  }
}

/*****
SECTIONS
*/
main {
  /*************
Title mobile
**/
}

@media (min-width: 900px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.7fr 1fr;
        grid-template-columns: 0.7fr 1fr;
    grid-auto-rows: 90vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  main .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .landing img {
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 1200px) {
  main .landing img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

main .landing .cta {
  position: absolute;
  bottom: 30%;
  -webkit-transform: translateY(-30);
          transform: translateY(-30);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

@media (min-width: 900px) {
  main .landing .cta {
    visibility: hidden;
  }
}

main .landing .cta p {
  color: white;
  text-transform: uppercase;
  font-family: "lato";
  font-weight: 700;
  letter-spacing: 4px;
}

main .content {
  background-color: #CCB08D;
  padding: 5rem;
  height: 100%;
}

main .content .statement {
  text-align: left;
  height: 100%;
}

@media (min-width: 900px) {
  main .content .statement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .content .statement .date {
  font-family: "Lato";
  color: #d9d9d9;
  text-align: left;
  padding: 0;
  position: relative;
}

@media (min-width: 900px) {
  main .content .statement .date {
    top: 30px;
  }
}

main .content .statement .title {
  position: absolute;
  top: 8%;
}

@media (min-width: 900px) {
  main .content .statement .title {
    position: relative;
  }
}

main .content .statement .title h1 {
  font-weight: 400;
  color: #8C4227;
  font-size: 4rem;
  text-align: left;
}

@media (min-width: 1800px) {
  main .content .statement .title h1 {
    font-size: 6rem;
  }
}

main .content .statement .title h1 span {
  font-size: 16px;
  display: block;
  color: #022840;
  font-weight: 400;
  text-align: left;
}

main .content .statement p {
  font-family: "lato";
  color: #3b3b3b;
  font-size: 12px;
  line-height: 160%;
  width: 100%;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  main .content .statement p {
    line-height: 200%;
    font-size: 16px;
  }
}

@media (min-width: 1800px) {
  main .content .statement p {
    font-size: 18px;
  }
}

main .content .statement .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (min-width: 1200px) {
  main .content .statement .button_container {
    padding-top: 2rem;
  }
}

main .content .statement .button_container .button {
  background-color: #84A9BF;
  -webkit-transition: background 0.4s ease-in;
  transition: background 0.4s ease-in;
  -webkit-transition: -webkit-box-shadow 0.4s linear;
  transition: -webkit-box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear, -webkit-box-shadow 0.4s linear;
  margin: 0.2em;
  /* Increased margin since the box-shado expands outside the element, like outline */
  padding: 15px 10px 15px 10px;
  text-align: center;
  width: 40%;
}

main .content .statement .button_container .button:hover {
  -webkit-box-shadow: 0 0 8px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 8px rgba(33, 33, 33, 0.2);
  background-color: #7ea6bd;
}

@media (min-width: 900px) {
  main .content .statement .button_container .button {
    width: 100%;
    padding: 10px 30px 10px 30px;
  }
}

main .content .statement .button_container .button a {
  font-size: 12px;
  text-decoration: none;
  color: #292929;
  font-weight: 700;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

main .content .statement .button_container .button a:hover {
  color: #3b3b3b;
}

@media (min-width: 1200px) {
  main .content .statement .button_container .button a {
    font-size: 16px;
  }
}

@media (min-width: 1800px) {
  main .content .statement .button_container .button a {
    font-size: 18px;
  }
}

main .content .statement .button_container .lines {
  visibility: hidden;
}

main .content .statement .button_container .lines .before,
main .content .statement .button_container .lines .after {
  background-color: #8C4227;
  height: 2px;
}

main .content .statement .button_container .lines .before {
  width: 10%;
  left: 15%;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50);
          transform: translateY(-50);
}

main .content .statement .button_container .lines .after {
  width: 10%;
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 15%;
  -webkit-transform: translateY(-50);
          transform: translateY(-50);
}
/*# sourceMappingURL=main.css.map */